<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joongo Market</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <style>
    .container {
      max-width: 100%;
    }
  </style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
      <img src="/images/logo_sm.png" width="150" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form th:action="@{/search/aution}" class="form-inline" method="get">
            <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="경매 찾기" aria-label="Search">
          </form>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/login}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/signup}">가입</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="py-5 text-center" th:if="${error}">
    <p class="lead">중고마켓 이메일 확인</p>
    <div class="alert alert-danger" role="alert">
      이메일 확인 링크가 정확하지 않습니다.
    </div>
  </div>

  <div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">중고마켓 이메일 확인</p>
    <h2>
      이메일을 확인했습니다. <span th:text="${numberOfUser}"></span>번째 회원,
      <span th:text="${nickname}"></span>님 가입을 축하합니다.
    </h2>
    <small class="text-info">이제부터 가입할 때 사용한 이메일 또는 닉네임과 비밀번호로 로그인할 수 있습니다.</small>
  </div>
</body>
</html>